<!-- <header>
    <h1>WELCOME TO MY PORTFOLIO</h1>
  </header>
  <hr> -->
<nav>
  <ul>
    <li><a href="#about">About</a></li>
    <li><a href="#works">Works</a></li>
    <li><a href="#contact">Contact</a></li>
    <li><a class="home" href="#home">Home</a></li>
  </ul>
</nav>
<main class="main-container">
  <div class="container grid-container container1" id="home">
    <div class="flex grid-item item1">
      <h1>Check me out!</h1>
    </div>
    <div class="flex grid-item item2">
      <h1>Picture</h1>
    </div>
    <div class="flex grid-item item3">
      <h1>I'm a Graphic Designer</h1>
    </div>
    <div class="flex grid-item item5">
      <h1>Giervan Sabalbero</h1>
    </div>
  </div>
  <div class="container container2" id="about">
    <h1>WELCOME TO MY PORTFOLIO</h1>
  </div>
  <div class="container container3" id="works">
    <h1>WELCOME TO MY PORTFOLIO</h1>
  </div>
  <div class="container container4" id="contact">
    <h1>WELCOME TO MY PORTFOLIO</h1>
  </div>
</main>
<!-- <hr>
  <footer>
    <h1>WELCOME TO MY PORTFOLIO</h1>
  </footer> -->